.inputForm {
  color: #fff;
  position: relative;
  input {
    color: #fff;
  }
  .searchBtn {
    position: absolute;
    right: 0px;
    top: 25px;
  }
}
.greyPaper {
  background-color: #1c1c1f;
  width: 100%;
  box-sizing: border-box;
  border-radius: 16px;
}
